{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <title>Happening Free - Development</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
{% endblock head %}


{% block body %}
<br>
    <div class="container">
    <a href="{% url 'events:events-home' %}" class="btn btn-danger" >BacktoHome</a><br><br>
    
        <div class="jumbotron center">
            <strong><center><h1 style="color:black;"> In Development </h1></center></strong><br>
            <center><h4>Sorry. We are still working on this part of the application.</h4></center>
        </div>
    </div>
{% endblock body %}